.site-title{
    padding: 30px;
    text-align: center;
}
.search-filter{
    padding: 25px 40px;
}
.form-login{
    padding: 25px;
}
.bio{
    padding: 40px 20px;
}
.profile-imgs{
    width: 50%;
    height: 30%;
}